<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uhs.mobileantivirus">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_uhs"
        android:label="@string/app_name"
        android:logo="@drawable/ic_uhs"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AntiPhishing"></activity>
        <activity
            android:name=".ScanDevice"
            android:label="@string/title_activity_scan_device">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/btn_shield_toggle" />

        <activity
            android:name=".MainActivity2"
            android:icon="@drawable/ic_uhs48dp"
            android:label="  Mobile Security"
            android:theme="@style/AppTheme2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>